body{
	padding-top: 70px;
}

/** HEADER **/
#header-nav {	
	border-radius:0;
	border: 0;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #0000ff;
	text-align: center
}

#nav-list a:hover{
	color: Blue;
}
#header{
	margin-bottom: 50px;
}
.card-header{
	text-align: center;	
}

.card{
	background-color: #bcd4e6;
	color: #000000;
	padding: 10px;
	margin-bottom: 20px;
}